*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: ltr;
}
:root{
    --maincolor:#456882;
}
body{
    /* background-color: var(--maincolor); */
}
p{
    /* text-align: justify; */
    /* text-indent: 50px; */
    /* letter-spacing: 1px; */
    /* font-size: 1rem; */
    /* line-height: 1.4; */
    /* font-variant: small-caps; */
    /* text-transform: lowercase; */
    /* white-space: nowrap; */
    /* white-space: pre-line; */
}
/* .text-center{ text-align: center;}
.text-blue{background-color: navy;} */
/* h1{ */
    /* text-shadow: 0 0 10px red; */
    /* 100px 10rem 10% */
    /* width: fit-content; */
    /* margin: 0 auto; */
    /* height: min-content; */
    /* border: 3px solid green; */
    /* padding: 3% 5%; */
    /* background-image: url("images/big-ben-westminster-bridge-sunset-london-uk.jpg" )  center ; */
/* } */
h1:hover{
    box-shadow: 0px 0px 5px gray;
}

input{
    width:70% ;
    border: none ;
}
input:focus{
    border: none;
    outline: none;
}
.card{
    text-align: center;
    border:3px solid rgb(255, 255, 255) ;
    height: 600px;
    width: 450px;
    margin: auto ;
    padding: 50px 20px;
    line-height: 1.4;
    font-family: sans-serif;
    font-size: medium;
    background-color: rgb(150, 199, 255);
}
#info{
    display: inline-block ;
    align-items: center;
    text-align: justify;
}
.