*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-inline-block{
    display: inline-block;
}
/* .x{
    height: 100vh;
    width: 20%;
    background-color: aqua;
    flex-direction: column;
    justify-content: space-around;
} */
 /* .w-20{
    width: 20%;
    border-right: 3px solid black;
    height: 50vh;
 }
 .px-2{ 
    padding-right: 2%;
    padding-left: 2%;
 }
 .my-3{
    margin-top: 3%;
    margin-bottom: 3%;
 }
 ul{
    list-style-type: none;
 }
 .tag-item{


    margin: 2% 5% 2% 0;
    border-radius: ;
 } */

/* .sec div p:hover{
    color: #FFFFFF;
    background-color: #00B207;

} */
 /* body{
    perspective: 600px;
 } */
/* .test{
    /* position: relative; */
    /* height: 3rem;
    width: 20%;
    background-color: blueviolet;
    transition: height 3s , background-color 1s; */
    /* transform: scale(5); */
    /* transition: all 3s; */
/* } */
/* .a{
    position: absolute;
    height: 30%;
    width: 20%;
    background-color: rgb(0, 255, 179);
    bottom: 0;
    right: 0;
} */
/* .test:hover{
    background-color: red;
    /* height: 100vh; */
    /* transform: scale(1,5);
    transform-origin: ; */
/* } */
/* .x{
    width: 100%;
    height: 5rem;
    background-color: black;
} */
 /* .card{
    /* width: 25%;
    height: 50vh;
    margin: 5% auto; */
    /* position: relative; */
    /* background-color: black */
 /* } */ 
 /* .card .front, .card .back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 5s;
    padding: 5%;
    position: absolute;
    color: white;
 }
 .card .front{
    background-color: red;
 }
 .card .back{
    background-color: blue;
    transform: rotateX(180deg);
 }

 .card:hover .front{
    transform: rotateX(180deg);
 }
 .card:hover .back{
    transform: rotateX(0deg);
 } */
  .home{
    width: 30%;
    height: 100vh;
    background-image: url("images/background.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    
  }
  .home .front {
    width: 100%;
    height: 90%;
    background-color: rgba(100, 11, 11, 0.5);
  }
  .home .front img{
    width: 100%;
    height: 100%;
    
    margin: auto;

  }


