*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d-inline-block{ display: inline-block;}
.d-flex{ display: flex;}
.rel{ position: relative;}
.abs{ position: absolute;}
/* .card{
    background-color: rgb(101, 85, 116);
    width: 22%;
    height: 30rem;
    margin: 5% auto;
    
}
.front , .back{
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgb(139, 64, 64);
} */
/*div{
    /* background-color: blueviolet;
    width: 10%;
    height: 15rem;
    animation-name: mov;
    animation-duration: 3s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function:ease-in ; */
    /* animation-delay: ; */
    /* animation-direction: reverse; */
    /* alternate alternate-reverse  reverse*/
    /* animation-fill-mode: forwards; */
 /* } */

/* @keyframes mov {
    from { 
        margin-left: 0;
        background-color: blueviolet;
    }
    to {
        margin-left: 20%;
        background-color: rgb(168, 228, 228);
    }
} */
.header{
    width: 90%;
    margin: 1% auto;
    background-color: antiquewhite;
    justify-content: center;
    gap: 20%;
   border-bottom: 1px solid #666666;
   align-items: center;
}
input{
    border-radius:  5px 0  0 5px;
    border-right: none;
}
button{
    border-radius: 0 5px 5px 0;
    border-left: none;
}
ul{
    width: 40%;
    list-style-type: none;
    justify-content: space-between;
}