.carousel-indicators{ 
    top: 0%!important;
    left: 0% !important;
}
.carousel-indicators button{ 
    width: 3rem !important;
    height: 4rem !important;
    text-indent:0 !important;
    flex-direction: column;
}
.carousel-item img {
    height: 10vh !important;
}